@model WebConsultorioOdontologicoMVC.Models.Citum

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Citum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <select asp-for="IdPaciente" class="form-control" asp-items="ViewBag.IdPaciente"></select>
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdRegistro" class="control-label"></label>
                <select asp-for="IdRegistro" class="form-control" asp-items="ViewBag.IdRegistro"></select>
                <span asp-validation-for="IdRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control" />
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tratamiento" class="control-label"></label>
                <input asp-for="Tratamiento" class="form-control" />
                <span asp-validation-for="Tratamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACuenta" class="control-label"></label>
                <input asp-for="ACuenta" class="form-control" />
                <span asp-validation-for="ACuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioRegistro" class="control-label"></label>
                <input asp-for="UsuarioRegistro" class="form-control" />
                <span asp-validation-for="UsuarioRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
